@charset "UTF-8";

/*
GENERAL STYLING
================================================ */
html {
    font-size: 100%;
}
body {
	color: rgb(255, 255, 255);
	font-family: sans-serif;
}

/*
COMMON
================================================ */
.title {
  font-size: 7rem;
  margin-bottom: 2rem;
  font-family: 'Roboto', sans-serif;
}

p {
    line-height: 1.7;
    font-size: 1.125rem;
}

.container {
    overflow: auto;
    scroll-snap-type: y mandatory;
    height: 100vh;
}
section {
    height: 100vh;
    scroll-snap-align: start;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


/*== グラデーション線から塗に変化する */

.gradient4{
    /*ボタンの形状*/
    display: inline-block;
    padding: 18px 60px;  
    border-radius:30px;
    text-decoration: none;
    border:1px solid #583bfc;
    color:#583bfc ;
    outline: none;
    /*アニメーションの指定*/ 
    transition: all 0.4s ease-out;
}

/*hoverした際、グラデーションと影を付ける*/
.gradient4:hover{
    /*ボタンの形状*/
    border-color:transparent;
    color: #fff;
    /*背景の色と形状*/
    background: linear-gradient(270deg, #6cbcfa 0%, #ffe140 50%, #010998 100%);
    background-size: 200% auto;
    background-position: right center;
    /*ボックスの影*/   
    box-shadow: 0 5px 10px rgba(24, 1, 126, 0.4);
}

/*===モーダル表示のためのcss　*/

.hide-area{/*モーダル表示をする場所をあらかじめ隠す*/
    display: none;
  }
  
  .modaal-fullscreen .modaal-content-container{/*full画面の色設定*/
    background: #333;
    color: #fff;
    text-align: center;
  }
  
  .modaal-fullscreen .modaal-close{/*ボタンの色、位置*/
    background:none;
    right:20px;
  }
  
  /*クローズボタンの×の色変更*/
  .modaal-close:focus:after,
  .modaal-close:focus:before,
  .modaal-close:hover:after,
  .modaal-close:hover:before{
    background:#666;
  }
  

/*キャプション*/
.caption{
    display: block;
    padding: 10px 0;
}

/*===　サムネイル表示のためのcss　*/

.gallery{/*ベースになるギャラリーを横並びに*/
  display: flex;
    justify-content: space-between;
}

.gallery li{
  width:33.333%;
    padding: 0 10px;
}

/*画像の横幅を100%にしてレスポンシブ化*/
img{
  max-width:100%;
  height:auto;
  vertical-align: bottom;/*画像の下にできる余白を削除*/
}

/*
HERO
================================================ */
.hero {
    background-image: url(../images/background.jpg);
    text-align: center;
    padding-top: 10vh;
}

.nantan{
  color: rgb(39, 38, 38);
}

/*
MENU
================================================ */
.menu {
    background-image: url(../images/lily.jpg);
    display: flex;
    align-items: center;
}
.wrapper {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}
.menu-list tr {
    font-size: 1.125rem;
    margin-bottom: .5rem;
    line-height: 1.7;
}
.menu-list th {
    font-weight: normal;
}
.menu-list td {
    padding-left: 1rem;
}

/*
CONTACT
================================================ */
.contact {
    background-image: url(../images/computer.jpg);
    text-align: center;
    padding-top: 8vh;
}
.btn {
    background: #555;
    font-size: 1.5rem;
    color: #fff;
    padding: 1rem 3.5rem;
    border-radius: 6px;
    display: inline-block;
    margin: 2rem 0 2.25rem;
}
.btn:hover {
    background: #777;
}
.contact-sns {
    display: flex;
    justify-content: center;
}
.contact-sns a {
    background: #fff;
    width: 3.75rem;
    height: 3.75rem;
    display: inline-block;
    margin: 0 .5rem;
    border-radius: 50%;
    font-size: 2rem;
    padding: .75rem 0 0 .125rem;
    color: #555;
}
.contact-sns a:hover {
    background: rgba(255,255,255,.5);
}


/*========= レイアウトのためのCSS ===============*/

#container{
  width:100%;
  height: 100vh;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a{
  color: #333;
}

a:hover{
   text-decoration: none;   
}

/*===モーダル表示のためのcss　*/

.hide-area{/*モーダル表示をする場所をあらかじめ隠す*/
  display: none;
}

.modaal-fullscreen .modaal-content-container{/*full画面の色設定*/
  background: #333;
  color: #fff;
  text-align: center;
}

.modaal-fullscreen .modaal-close{/*ボタンの色、位置*/
  background:none;
  right:20px;
}

/*クローズボタンの×の色変更*/
.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before{
  background:#666;
}

/*キャプション*/
.caption{
    display: block;
    padding: 10px 0;
}

/*===　サムネイル表示のためのcss　*/

.gallery{/*ベースになるギャラリーを横並びに*/
  display: flex;
    justify-content: space-between;
}

.gallery li{
  width:33.333%;
    padding: 0 10px;
}

/*画像の横幅を100%にしてレスポンシブ化*/
img{
  max-width:100%;
  height:auto;
  vertical-align: bottom;/*画像の下にできる余白を削除*/
}

/*========= レイアウトのためのCSS ===============*/

ul{
  margin:0;
  padding: 0;
  list-style: none;
}

a{
  color: #333;
}

span{
  color: rgb(255, 255, 255);
}

p.small{
  line-height:90%;
  }

a:hover,
a:active{
  text-decoration: none;
}

h1{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size:6vw;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin:30px 0;
  color: #333;     /* 文字色指定 */
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}


/*
MOBILE SIZE
================================================ */
@media (max-width: 700px) {
    .title {
        font-size: 4rem;
    }
    p {
      padding: 0 1rem;
    }
    p,
    .menu-list li {
        font-size: 1rem;
    }
    .hero {
        padding-top: 12vh;
    }
     
}

